<h3 style="color:darkblue">Available Products</h3>
<div>
	<% @product_images.each do |product|%>
	<h4><%= link_to product.title, product_path(product)%><h4>	
		<%= image_tag(product.p_images.url(:thumb))%>
	<%end%>
</div>
