<h1>Add Product </h1>	
<table>
	<%= form_for @product_image do |f|%>
		<div>
			Images:
			<%= f.file_field :p_images%></br>
   		</div>

   		<div>
			<%= collection_select(:product_image,:product_id, Product.all, :id, :title,{:prompt => 'Select'})%>
			    </br>
		</div>

		<div>
			<%= submit_tag "Submit"%>
		</div>
	<%end%>

</table>