<h3>Currently Available Products</h3>
<table>
	<% @products.each do |product|%>

	<th><%= link_to product.title, new_product_image_path%></br> 
		
	<%#= link_to image_tag(product.image.url(:thumb)), product_path(product)%></br></th>

	<%end%>

</table></br>

<%= link_to 'Add', new_product_path%>
<%= link_to 'Back', categories_path%>


