<header class="header">
<div class="btn-group">
  <a><button onclick="window.location.href='/'">Home</button></a>
  <a><button onclick="alert('under construction')">Contact Us</button></a>
  <a><button onclick="alert('under construction')">Log In</button></a>
</div>
</header>