<!DOCTYPE html>
<html>
  <head>
    <title>New Application</title>
    <%= render 'layouts/stylesheet1'%>
  </head>

  <body class="body">
  	<%= render 'layouts/header'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
