<!DOCTYPE html>
<html>
  <head>
    <title>New Application</title>
	  <link rel="icon" type="image/png" href="/assets/logo.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= render 'layouts/stylesheet1'%>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body class="body">
  	<%= render 'layouts/header'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
